.starter-template{
    margin-top: 100px
}
ul{
    li{
        list-style-type: none
    }
}

.overlay{
    background: url('../images/loading.gif') 50% 50% no-repeat #000;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .form-control{
        margin: 5px 0px;
    }
}

.notification{
    position: fixed;
    top:50px;
    width: 100%;
    text-align: center;
}