<div ng-controller="signUpController" id="quiz">
    <h2>Sign up before you take the quiz!</h2>
    <form class="form-signin input-group-md" ng-submit="signUp()">
        <form>
            <input type="text" ng-model="username" class="form-control" placeholder="Username" autofocus="">
            <input type="password" ng-model="password" class="form-control" placeholder="Password">
            <button class="btn btn-md btn-primary btn-block" type="submit">Sign up</button>
        </form>
    </form><!--end form-->
</div>